<h1>Available Vehicles</h1>

<% vehicles.forEach(vehicle => { %>
  <div>
    <h2><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
    <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>" width="200">
    <p><%= vehicle.inv_description %></p>
    <a href="/inventory/detail/<%= vehicle.inv_id %>">View Details</a>
  </div>
<% }) %>
